/* Styles for blogpost test */
body
    {
        text-align: center;
        font-family: 'Helvetica';
        background-color: black;
        color: white;
    }
h1
    {
        color: deeppink;
    }